body {
    font-family: 'IM Fell English SC', serif;
    font-weight: 700;
    font-size: 1.7rem;
    background-image: url(../images/background/FkBjGFwX0AEoDRO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }

.page_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    transition: 2s;
}

.left_column {
    display: flex;
    align-items: center;
    flex-basis: 50px;
    flex-direction: column;
    padding-top: 80px;
}

.left_column p {
    background-color: rgb(216, 158, 50);
    border-radius: 10px;
    padding: 15px;
}

.right_column {
    display: flex;
    align-items: center;
    flex-basis: 50px;
    flex-direction: column;
    padding-top: 80px;
}

.right_column p {
    background-color: rgb(216, 158, 50);
    border-radius: 10px;
    padding: 15px;
}

.game_title {
    font-size: 60px;
    text-align: center;
}

.center_column {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    background-image: url(../images/center_column/FQIxbMeXIAAJKhE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.btn_wrapper button {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 80px;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

.btn_wrapper button:hover {
    background-color: #000;
    color: #fff;

}

.text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 158, 50);
    border-radius: 10px;
    padding: 5px; 
    width: 50%;
    margin: 0 auto;
    margin-top: 300px;
}

.btn_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.intoxication_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/* Set the width and height of the meter element */
meter {
    width: 300px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }
  

  /* Style the meter bar in webkit browsers */
meter::-webkit-meter-bar {
  background-color: lightcoral;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: width 1s ease-in-out;
}

  /* Style the meter bar in Firefox browsers */
  meter::-moz-meter-bar {
  background-color: lightcoral;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  
}

/* Style the value in webkit browsers */
meter::-webkit-meter-optimum-value {
  background: linear-gradient(180deg, rgba(134,110,0,1) 0%, rgba(255,209,0,1) 50%, rgba(134,110,0,1) 100%);
  transition: width 1s ease-in-out;
}

/* Style the value in Firefox browsers */
meter::-moz-meter-bar {
  background: linear-gradient(180deg, rgba(134,110,0,1) 0%, rgba(255,209,0,1) 50%, rgba(134,110,0,1) 100%);/* Change the color of the value to green */
  transition: width 1s ease-in-out;
}

meter::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.thanks_message_wrapper {
    position: absolute;
    top: 50%;
    right: 40%;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 158, 50);
    border-radius: 10px;
    padding: 5px; 
    width: 20vw;
    height: 10vh;
    text-align: center;
    line-height: 2vh;
    font-size: 2rem;
    white-space: pre-wrap;
    transition: 2s;

}
.thanks_message_wrapper p {
    margin-top: 3vh;
}

.dimmer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 40%;
    display: none;
}

.select_player_wrapper{
    position: absolute;
    z-index: 2;
    width: 30%;
    height: 50%;
    display: none;
}

.active {
    display: block;
}

